@use "../../scss/functions";

.searchContainer {
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cityInput {
  padding: 0.5em;
  font-size: functions.em(20);
  border-radius: 15px;
  border: none;
  width: 95%;
}

.weatherLink {
  padding: 1em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.219);
  font-size: functions.em(20);
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
