@use "../../scss/functions";
.navLink {
  font-size: functions.em(21);
  display: flex;
  padding: 0em 1em;
  border-radius: 10px;
  flex-direction: column;
  color: black;
  text-decoration: none;
  align-items: center;

  &:hover {
    background-color: rgba(6, 182, 255, 1);
    color: white;
  }
}

.link {
  text-decoration: none;
}

.navLinkName {
  font-size: functions.em(10);
}
